# Ignore node_modules directory
node_modules/

# Ignore build output directories
out/
dist/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore VS Code workspace settings
.vscode/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage directory
coverage/

# Ignore TypeScript build files
*.tsbuildinfo